<!DOCTYPE html>
<html>
<head>
  <title>Songs</title>
</head>
<body>

<h1>Songs for kids</h1>
<h4>Sinatra application</h4>

<ul>
    <li><a href="<%= url '/' %>">Baa, baa black sheep</a></li>
    <li><a href="<%= url '/sixpence.html' %>">Sing a song of sixpence</a></li>
    <li><a href="<%= url '/hush.html' %>">Hush little baby</a></li>
</ul>

<%= yield %>

</body>
</html>
